@charset "utf-8";

html{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.wrapper{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  opacity:0;
}
.wrapper.active{
  opacity:1;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.contents{
  width:1920px;
  height:1080px;
  min-height: 1080px;
  overflow:hidden;
  position:relative;
}
.contents.intro{
  background:url(../images/bg-intro.jpg) no-repeat center top;
  background-size:cover;
}
.intro-title{
  width:100%;height:auto;
  display: flex;
  justify-content: center;
  align-items:center;padding-top:194px;
}
.intro-title img{
  width:1140px;
}
.intro-btn-wrap{
  margin-top:47px;
  width:100%;height:auto;
  display: flex;
  justify-content: center;
  align-items:center;gap:37px;
}
.intro-btn-wrap button{
  width:301px;height:148px;border:0;background:transparent;display: flex;
  justify-content: center;
  align-items:center;box-sizing: border-box;
  padding:0 20px;
}
.intro-btn-wrap button.btn-game{
  background:url(../images/btn-type-game.png) no-repeat center center;
  background-size:301px 141px;
  color: #fff;
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 92% */
  padding-bottom: 5px;
}
.intro-btn-wrap button.btn-normal{
  background:url(../images/btn-type-normal.png) no-repeat center center;
  background-size:301px 141px;
  color: #fff;
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 92% */
  padding-bottom: 5px;
}
.intro-btn-wrap button span{
  width:100%;
  height:141px;
  position:absolute;
  left:0px;
  top:0px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items:center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 92% */
  box-sizing: border-box;
  padding:0 20px;
}
.intro-btn-wrap button.btn-game span{
  color: #FF7305;
  -webkit-text-stroke-color: #FF7305;
}
.intro-btn-wrap button.btn-normal span{
  color: #894E42;
  -webkit-text-stroke-color: #894E42;
}

.intro-btn-wrap button img{
  width:301px;height:141px;
}

.lang-select-wrap{
  position:absolute;
  left:50%;
  top:50%;
  width:432px;height:227px;overflow:hidden;
  background:url(../images/bg-lang.png);background-size:432px 227px;
  margin:290px 0 0 -385px;display:none;
}
.btn-game.on + .lang-select-wrap{display:block;}
.select-list-wrap{width:100%;height:auto;overflow:hidden;display: flex;
  justify-content: center;
  align-items:center;flex-wrap:wrap;gap:8px;margin-top:43px;}
.select-list-wrap li{width:174px;}
.select-list-wrap li a{width:174px;height:71px;overflow:hidden;display: flex;
  justify-content: center;background:url(../images/btn_lang.png) no-repeat;background-size:174px 71px;
  align-items:center;font-size:32px;color:#424242;font-weight:500;}
.select-list-wrap li a:active{background:url(../images/btn_lang-on.png) no-repeat;background-size:174px 71px;}