@charset "utf-8";

html{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.wrapper{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  opacity:0;
}
.wrapper.active{
  opacity:1;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.contents{
  width:1920px;
  height:1080px;
  min-height: 1080px;
  overflow:hidden;
  position:relative;
}
.contents.intro{
  background:url(../images/bg-intro.jpg) no-repeat center top;
  background-size:cover;
}
.intro-title{
  width:100%;height:auto;
  display: flex;
  justify-content: center;
  align-items:center;padding-top:73px;
}
.intro-title img{
  width:680px;
}
.intro-btn-wrap{
  margin-top:45px;
  width:100%;height:auto;
  display: flex;
  justify-content: center;
  align-items:center;gap:23px;
}
.intro-btn-wrap button{
  width:258px;height:128px;padding:0;border:0;background:transparent;display: flex;
  justify-content: center;
  align-items:center;
}
.intro-btn-wrap button img{
  width:258px;height:128px;
}


.lang-select-wrap{margin-top:8px;width:100%;display: flex;
  justify-content: center;
  align-items:center;}
.select-item-wrap{
  transform:translateX(-150px);border-radius:20px;box-sizing: border-box;
  width:255px;height:auto;border:1px solid #bfc7da;background:#fff;box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.05);
}
.select-item-wrap .select-value{display: flex;
  justify-content: center;position:relative;
  align-items:center;width:235px;height:60px;}
.select-item-wrap .select-value span{font-size:32px;color:#424242;font-weight:500;}
.select-item-wrap .select-value img{transform:rotate(180deg);width:20px;height:12px;position:absolute;right:12px;top:50%;margin-top:-5px;}
.select-item-wrap .select-value.on img{transform:rotate(0deg);}
.select-list-wrap{display:none;width:235px;height:auto;overflow:hidden;}
.select-list-wrap li{border-top:1px solid #F4F5F8;width:100%;height:auto;overflow:hidden;}
.select-list-wrap li a{width:100%;height:60px;overflow:hidden;display: flex;
  justify-content: center;
  align-items:center;font-size:32px;color:#424242;font-weight:500;}
.lang-select-wrap .select-value.on + .select-list-wrap{display:block;}